[Unit]
Description=Main Service
After=network.target

[Service]
ExecStart=/home/ubuntu/app/main
WorkingDirectory=/home/ubuntu/app
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target

